:root{
    --black: #000000;
    --white: #ffffff;
    --title-color: #f5f5f7;
    --subtitle-color: #6e6e73;
    --link-color: #2997ff
}

header{
    background-color: var(--black);
    color: var(--white);
    height: fit-content;
    fill-opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

header nav ul{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li{
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75;
    font-size: small;
    cursor: pointer;
}